# Database Configuration
# Change these values to secure passwords
DATABASE_PASSWORD=YourSuperSecretDbPassword

# Admin Configuration
# Change these values to secure credentials
ADMIN_USER=YourSuperSecretUsername
ADMIN_PASSWORD=YourSuperSecretPassword
ADMIN_API_KEY=ThisShouldBeVeryVerySecureToo
